<section>
    <h4>Overview</h4>

    <%- md("overview.md") %>

    <strong>This is a starter problem. You can find a complete solution <a href="https://github.com/restcoder/Starter-Multiple-instances">here</a>.</strong>
</section>


<section>
    <h4>Notes</h4>
    <ul>
        <li><%- NOTE.READY %></li>
        <li><%- NOTE.MULTI_INSTANCE %></li>
    </ul>
</section>


<section>
    <h4>Environmental Variables</h4>

    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <%- ENV_HEADER %>
            <%- ENV.PORT %>
            <%- ENV.FOREMAN_WORKER_NAME %>
            <%- ENV.POSTGRES_URL %>
        </table>
    </div>
</section>
