<section>
    <h4>Overview</h4>

    <%- md("overview.md") %>
    

</section>


<section>
    <h4>Notes</h4>
    <ul>
        <li><%- NOTE.READY %></li>
        <li><%- NOTE.MULTI_INSTANCE %></li>
    </ul>
</section>


<section>
    <h4>Environmental Variables</h4>

    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <%- ENV_HEADER %>
            <%- ENV.PORT %>
            <%- ENV.FOREMAN_WORKER_NAME %>
            <%- ENV.POSTGRES_URL %>
            <%- ENV.MONGODB_URL %>
            <%- ENV.MYSQL_URL %>
            <%- ENV.JWT_TOKEN_SECRET %>
        </table>
    </div>
    <small>You can pick only one type of database: Postgres, MongoDB, MySQL.</small>
</section>
