<section>
    <h4>Overview</h4>

    <%- md("overview.md") %>
</section>


<section>
    <h4>Notes</h4>
    <ul>
        <li><%- NOTE.READY %></li>
    </ul>
</section>


<section>
    <h4>Environmental Variables</h4>

    <table class="table table-bordered table-condensed">
        <%- ENV_HEADER %>
        <%- ENV.PORT %>
    </table>
</section>


<!--<section>-->
    <!--<h4>Endpoints</h4>-->
    <!--<swagger-preview></swagger-preview>-->
<!--</section>-->

<!--<hr/>-->

<!--<section>-->
    <!--<h4>Examples</h4>-->
    <!--<api-examples></api-examples>-->
<!--</section>-->