<section>
    <h4>Overview</h4>

    Create a simple route <code>GET /hello</code>, that returns the word <code>world</code>.
    
    <br/><br/>
    <strong>This is a starter problem. You can find a complete solution <a href="https://github.com/restcoder/Starter-Hello-world">here</a>.</strong>
</section>


<section>
    <h4>Notes</h4>
    <ul>
        <li><%- NOTE.READY %></li>
    </ul>
</section>


<section>
    <h4>Environmental Variables</h4>

    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <%- ENV_HEADER %>
            <%- ENV.PORT %>
        </table>
    </div>
</section>
